{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>What the heck is <span class="title">Degrees Of Kevin Bacon</span>?</h1>
  </div>
  <div class="row page-body">
    <div class="col-md-12">
      <p>Have you ever heard of the <a href="https://en.wikipedia.org/wiki/Six_Degrees_of_Kevin_Bacon">Six Degrees Of Kevin Bacon</a>? That is basically a game to find the link chain from any arbitrary actor to Kevin Bacon in six actors or less. This game is <strong>not</strong> that :)</p>
      <p>Instead, this game gives you 6-8 random movies that Kevin Bacon did <em>not</em> perform in, along with one random movie that Kevin Bacon <em>did</em> perform in, and asks you to guess the Kevin Bacon movie.</p>
      <p>And for those who don't want to play using Kevin Bacon, I also added a feature where you can enter an actor or actress of your choice to play the same game in place of Kevin Bacon.</p>
      <p>This idea for this game was inspired by <a href="https://www.fullstackacademy.com">Fullstack Academy</a> and was built using Node, Express and Sqlite. Check out my other side projects at <a href="http://rob.tongsofficial.com">my personal page</a>.</p>
      <p>&nbsp;</p>
    </div>
  </div>

{% endblock %}
