{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to <span class="title">Degrees Of {{actorFname}} {{actorLname}}</span></h1>
    <p>Below are a selection of movies. Can you pick the one that {{actorFname}} {{actorLname}} was in?</p>
  </div>
  <div class="row page-body">
    <div class="col-md-3">
      <div class="float-right">
        {% if actorFname === 'Kevin' and actorLname === 'Bacon' %}
        <img src="https://lh5.googleusercontent.com/-u24Tzn7oJtw/AAAAAAAAAAI/AAAAAAAACR8/28jCoiombPQ/s0-c-k-no-ns/photo.jpg" class="photo" /><br>
        <!--{% else %}
        <img src="https://www.googleapis.com/customsearch/v1?key=AIzaSyB2i4MYIR0TjIjR4RvKPYveUUc6jItUsj8&cx=003191283824511420709:iee0094tsri&q={{actorFname}}%20{{actorLname}}" class="photo" /><br>
        {% endif %}-->
        <!--<img src="http://imgur.com/a/CfYFy" class="photo"><br>-->
        <br/>
        <form action="/" method="POST">
          <input type="hidden" name="fname" value="{{actorFname}}"/>
          <input type="hidden" name="lname" value="{{actorLname}}"/>
          <input type="submit" class="btn btn-success" value="Play again" />
        </form>
      </div>
    </div>
    <div class="col-md-9">
      <!--<ul id="actor-display">-->
      <!-- display movies here -->
      {% for movie in movies %}
        {% if movie.correct %}
        <button type="button" class="btn btn-info spacing" onclick="alert('You win!')">{{movie.name}}</button><br/>
        {% else %}
        <button type="button" class="btn btn-info spacing" onclick="alert('Sorry...wrong answer')">{{movie.name}}</button><br/>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Not a fan of {{actorLname}}? Choose your own actor/actress to play!</p>
      {% if showError %}
      <div class="error">{{errFname}} {{errLname}} doesn't exist in the IMDB database. Please check your spelling and try again</div>
      {% endif %}
      {% if showForm %}
      <form action="/" method="POST">
        <label for="fname_field">First Name:</label>
        <input name="fname" type="text" id="fname_field" />

        <label for="lname_field">Last Name:</label>
        <input name="lname" type="text" id="lname_field" style="width: 350px;" />

        <input type="submit" value="Use This Actor/Actress" />
      </form>
      {% endif %}
      <p>&nbsp;</p>
    </div>
  </div>

{% endblock %}
